<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: orange"   href="{% url 'home' %}">sCool Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: orange">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: orange" href="{% url 'products' %}">Products</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: orange">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'profile' %}" style="color: orange">View Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'edit_profile' %}" style="color: orange">Edit Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'cart:my_purchases_history' %}" style="color: orange">Order History</a></li>
          </ul>
        </li>
        {% endif %}
        {% if user.is_authenticated == False %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: orange">
              Login/Register
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'login' %}" style="color: orange">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'registration' %}" style="color: orange">Register</a></li>
            </ul>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:view_cart' %}" style="color: orange">Cart</a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" style="color: orange">Log out</a>
          </li>
        {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>